<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.msg">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProfile.EditProfileActivity"/>
        <activity android:name=".EditProfile.EditResProfileActivity"/>
        <activity android:name=".QRcode.ResQrcodeActivity"/>
        <activity android:name=".QRcode.QrCodeReaderActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".Filter.FilterSelectActivity"></activity>
        <activity android:name=".ban.BanActivity" />
        <activity android:name=".Sale.UserSaleProductsActivity"/>
        <activity android:name=".Review.ResReviewsActivity"/>
        <activity android:name=".Profile.UserProfileActivity" />
        <activity android:name=".Sale.PurchaseHistoryActivity" />
        <activity android:name=".Sale.SalesHistoryActivity" />
        <activity android:name=".Sale.ResSalesHistoryActivity" />
        <activity
            android:name=".ChatRoom.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Upload.ProductRestUploadActivity" />
        <activity android:name=".RecyclerView.QualitySelectActivity" />
        <activity android:name=".Map.DaumWebViewActivity" />
        <activity android:name=".Map.MapActivity" />
        <activity android:name=".Sale.PayActivity" />
        <activity android:name=".Sale.SaleActivity" />
        <activity android:name=".Sale.SaleUserActivity" />
        <activity android:name=".Sale.PopupSearchActivity" />
        <activity android:name=".Upload.ProductUploadActivity" />
        <activity android:name=".Reservation.ReservationActivity" />
        <activity android:name=".cloudmessaging.CloudMessagingActivity" />
        <activity android:name=".SignUp.SignupRestActivity" />
        <activity android:name=".SignUp.SelectSignupActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ResMainActivity" />
        <activity android:name=".menu.HelpActivity"/>
        <activity android:name=".menu.NoticeActivity"/>
        <activity android:name=".SignUp.SignupActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="bd86ebef3077544c3fcf0e5ff79a79b6" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging:default_notification_channel_id"
            android:value="1" />

        <service
            android:name=".cloudmessaging.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>